@import url("https://fonts.googleapis.com/css2?family=Inter");

html {
    width: 100vw;
    height: 100vh;

    a {
        color: hotpink;

        transition: color 0.5s ease;
    }
    a:hover {
        color: aquamarine;
    }
}

h1 { font-size: 50px; }
h2 { font-size: 30px; }
p { font-size: 20px; }

html, body {
    padding: 0px;
    margin: 0px;

    color: white;
}

body {
    background-image: url("/images/background.svg");
    background-size: cover;

    font-family: "Inter";

    #title {
        text-align: center;
    }

    .info {
        display: flex;

        .skills {
            flex: 1;
            text-align: center;

            #skill-title {
                margin-bottom: 7px;
            }
    
            #skill-text {
                margin: 0px;
                padding-left: 7px;
            }
        }
    
        .about-me {
            flex: 1;
            text-align: center;
    
            #abt-me-title {
                margin-bottom: 7px;
            }

            #abt-me-txt {
                width: 50%;
                margin: 0px auto;
            }
        }
    }
}