@import url("https://fonts.googleapis.com/css2?family=Inter");
html {
  width: 100vw;
  height: 100vh;
}

html a {
  color: hotpink;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

html a:hover {
  color: aquamarine;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

html, body {
  padding: 0px;
  margin: 0px;
  color: white;
}

body {
  background-image: url("/images/background.svg");
  background-size: cover;
  font-family: "Inter";
}

body #title {
  text-align: center;
}

body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .info .skills {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

body .info .skills #skill-title {
  margin-bottom: 7px;
}

body .info .skills #skill-text {
  margin: 0px;
  padding-left: 7px;
}

body .info .about-me {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

body .info .about-me #abt-me-title {
  margin-bottom: 7px;
}

body .info .about-me #abt-me-txt {
  width: 50%;
  margin: 0px auto;
}
